<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>注册</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="/i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="/css/amazeui.min.css">

</head>
<body>

<div class="am-container">
    &nbsp;
</div>

<div class="am-g">
    <div class="am-u-lg-3">
        &nbsp;
    </div>
    <div class="am-u-lg-6">
            <form class="am-form">
  <fieldset>

    <legend>
        <h2 class="am-titlebar-title" style="color: #0e90d2">
        Register
        </h2>
    </legend>


    <div class="am-form-group">
      <label for="doc-ipt-email-1">账号</label>
      <input type="text" class="account"  placeholder="请输入登陆账号">
    </div>

    <div class="am-form-group">
      <label for="doc-ipt-pwd-1">密码</label>
      <input type="password"  class="pwd1" placeholder="请输入密码">
    </div>
      <div class="am-form-group">
      <label for="doc-ipt-pwd-1">确认密码</label>
      <input type="password"  class="pwd2" placeholder="请再次输入密码">
    </div>
      <button type="button" id="submit" class="am-btn am-btn-primary am-btn-block">注&nbsp;册</button>
  </fieldset>
    </form>
    </div>
    <div class="am-u-lg-3">
        <span class="am-show-md-down">&nbsp;</span>
        <span class="am-show-lg-only">&nbsp;</span>
    </div>
</div>
<!--交互信息提示-->
<div id="response">
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery/jquery.min.1.10.2.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="/js/jquery/jquery.min.1.11.3.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/js/amazeui.min.js"></script>
<script src="/js/register.js"></script>
</body>
</html>
